.contact-widget {
  display: flex;
  column-gap: 16px;

  &__trigger--call {
    background-image: url("../../../../assets/svg/icon-call.svg");
  }

  &__trigger--chat {
    background-image: url("../../../../assets/svg/icon-chat.svg");
  }

  &__trigger--profile {
    background-image: url("../../../../assets/svg/icon-profile.svg");
  }
}
