<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>comp-lang-switcher</title>
  <link
    rel="stylesheet"
    href="../styles/main.css"
  >
</head>

<body>

  <ul class="lang-switcher reset-list">
    <li class="lang-switcher__item">
      <input
        class="lang-switcher__radio-button visually-hidden"
        type="radio"
        name="lang-switcher"
        id="lang-ru"
        checked
      >
      <label
        class="lang-switcher__label"
        for="lang-ru"
      >RU</label>
    </li>

    <li class="lang-switcher__item">
      <input
        class="lang-switcher__radio-button visually-hidden"
        type="radio"
        name="lang-switcher"
        id="lang-en"
      >
      <label
        class="lang-switcher__label"
        for="lang-en"
      >EN</label>
    </li>

    <li class="lang-switcher__item">
      <input
        class="lang-switcher__radio-button visually-hidden"
        type="radio"
        name="lang-switcher"
        id="lang-ch"
      >
      <label
        class="lang-switcher__label"
        for="lang-ch"
      >CH</label>
    </li>
  </ul>

</body>

</html>
