@font-face {
  font-family: "TTLakes";
  src:
    local("TTLakes"),
    url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
    url("../assets/fonts/TTLakes-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src:
    local("TTLakes"),
    url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
